body {
    
}
.link-normalize {
    text-decoration: none;
}
.container {
  width: 80%;
    margin: auto;
  display: flex;
  justify-content: space-between;
}
.primary-navigation {
  align-self: center;
}
.primary-navigation-list {
  display: flex;
  list-style: none;
  gap: 1em;
}
@media (prefers-color-scheme: light) {
    .link-normalize {
      color: var(--light-theme-font-color);
    }
  }
  @media (prefers-color-scheme: dark) {
    .link-normalize {
      color: var(--dark-theme-font-color);
    }
  }

/* Section main-banner */
.main-banner {
  height: 800px;
  width: 100%;
  background: linear-gradient(48deg, #eaeceb, #252525);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}