body {
    width: 80%;
    margin: auto;
}
.link-normalize {
    text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
}
.primary-navigation {
  align-self: center;
}
.primary-navigation-list {
  display: flex;
  list-style: none;
  gap: 1em;
}
@media (prefers-color-scheme: light) {
    .link-normalize {
      color: var(--light-theme-font-color);
    }
  }
  @media (prefers-color-scheme: dark) {
    .link-normalize {
      color: var(--dark-theme-font-color);
    }
  }